<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>课程管理</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/user/admin/course.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/user/admin/course.js"></script>
</head>
<body onselectstart="return false;">
	<div id="container">
		<div id="nav"  onselectstart="return false;">
			<a href="javascript:;" class="studentModifyInf navItem select">课程信息管理</a>
			<a href="javascript:;" class="studentAdd navItem">学生选课管理</a>
		</div>
		<div id="content">
			<!-- 学生信息查询修改模块 -->
			<div id="studentModifyInfCnt" class="navCntItem">
				<h3 class="hint">请选择查询条件:</h3>
				<a href="javascript:;" class="qId hint1">根据课程id查询</a>
				<a href="javascript:;" class="qClasses hint1">根据班级查询</a>
				<a href="javascript:;" class='qDepartment hint1'>根据院系查询</a>
				<label class="hint hide qIdHint">请输入课程id:
					<input type="text" name="" value="" id="sId" class="hintInp">
					<a href="javascript:;" class="qIdBtn hint1">确定</a>
				</label>
				<label class="hint hide qCNameHint">请选择班级：
					<select id="cName" class='hintSel'>
					<!-- <option value=""></option> -->
					</select>
					<a href="javascript:;" class="qCNameBtn hint1">确定</a>
				</label>
				<label class="hint hide qDepartmentHint">请选择班级：
					<select id="dName" class='hintSel'>
					<!-- <option value=""></option> -->
					</select>
					<a href="javascript:;" class="qDNameBtn hint1">确定</a>
				</label>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>

				<!-- 查询结果显示 -->
				<div class="qResult">
					<table class="rTable">
						<thead>
							<tr class="tableTile">
								<th>课程编号</th>
								<th>课程名称</th>
								<th>授课教师</th>
								<th>课程班级</th>
								<th>课程院系</th>
								<th>课程归属</th>
								<th>课程性质</th>
								<th>课程绩点</th>
								<th>课程学年</th>
								<th>课程学期</th>
								<th>课程信息</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="tContent">
							<!-- <tr class="tableContentItem">
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf" class="select">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td class="handle">
									<a href="javascript:;" class="modify">修改</a>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr> -->
						</tbody>
					</table>
				</div>
			</div>

			<!-- 学生信息添加模块 -->
			<div id="studentAddCnt" class="navCntItem hide">
				<h3 class="hint">是否确定添加信息？
				<a href="javascript:;" class="qBtn hint1">确定</a></h3>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>
				<div class="qResult">
					<table class="rTable">
							<thead>
								<tr class="tableTile">
									<th>学号</th>
									<th>姓名</th>
									<th>性别</th>
									<th>出生日期</th>
									<th>家庭住址</th>
									<th>联系电话</th>
									<th>电子邮箱</th>
									<th>身份证码</th>
									<th>班级</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody class="tContent">
								<!-- <tr class="tableContentItem">
									<td>
										<span>dfasdfa</span>
									</td>
									<td>
										<input type="text" name="" value="dfasdfsadfasfd">
									</td>
									<td>
										<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
									</td>
									<td>
										<input type="text" name="" value="dfasdfsadfasfd">
									</td>
									<td>
										<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
									</td>
									<td>
										<input type="text" name="" value="dfasdfsadfasfd">
									</td>
									<td>
										<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
									</td>
									<td>
										<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
									</td>
									<td>
										<input type="text" name="" value="dfasdfsadfasfd">
									</td>
									<td class="handle">
										<a href="javascript:;" class="add">添加</a>
									</td>
								</tr> -->
							</tbody>
						</table>
					</div>
			</div>

			<!-- 学生密码重置模块 -->
			<div id="studentResetPassCnt" class="navCntItem hide">
				<h3 class="hint">请输入要重置密码学生的id:</h3>
				<input type="text" name="" value="" class="hintInp sId">
				<a href="javascript:;" class="eBtn hint1">确定</a>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>
			</div>

			<!-- 确认框框 -->
			<div class="confirmbox hide">
				<h2 class="confirmboxHint">是否确定？</h2>
				<a href="javascript:;" class='cancelbox'>x</a>
				<a href="javascript:;" class="confirm confirmboxItem">确定</a>
				<a href="javascript:;" class="cancel confirmboxItem">取消</a>
			</div>
		</div>
	</div>
</body>
</html>