<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>账号管理</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/user/admin/information.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/user/admin/information.js"></script>
</head>
<body onselectstart="return false;">
	<div id="container">
		<div id="nav"  onselectstart="return false;">
			<a href="javascript:;" class="studentInf navItem select">密码重置</a>
			<a href="javascript:;" class="studentAccountManage navItem">密码修改</a>
		</div>
		<div id="content">
			<!-- 管理员密码重置模块 -->
			<div id="studentInfCnt" class="navCntItem hide">
				<h3 class="hint passOldHint">请输入密码:</h3>
				<input type="password" name="" value="" class="hintInp sPass">
				<br>
				<h3 class="hint passNeweHint">是否确定重置密码？</h3>
				<a href="javascript:;" class="mBtn hint1">确定</a>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>
			</div>

			<!-- 管理员密码修改模块 -->
			<div id="studentAccountManageCnt" class="navCntItem hide">
				<h3 class="hint passOldHint">请输入密码:</h3>
				<input type="password" name="" value="" class="hintInp sPass">
				<h3 class="hint passNew1Hint">请输入新密码:</h3>
				<input type="password" name="" value="" class="hintInp sNewPass1">
				<h3 class="hint passNeweHint">请确认新密码:</h3>
				<input type="password" name="" value="" class="hintInp sNewPass2">
				<br>
				<a href="javascript:;" class="mBtn hint1">确定</a>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>
			</div>


			<!-- 确认框框 -->
			<div class="confirmbox hide">
				<h2 class="confirmboxHint">是否确定？</h2>
				<a href="javascript:;" class='cancelbox'>x</a>
				<a href="javascript:;" class="confirm confirmboxItem">确定</a>
				<a href="javascript:;" class="cancel confirmboxItem">取消</a>
			</div>
		</div>
	</div>
</body>
</html>