<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>学生管理</title>
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/user/admin/student.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/user/admin/student.js"></script>
</head>
<body onselectstart="return false;">
	<div id="container">
		<div id="nav"  onselectstart="return false;">
			<a href="javascript:;" class="studentModifyInf navItem select">学生信息管理</a>
			<a href="javascript:;" class="studentAddOne navItem">添加学生信息</a>
			<a href="javascript:;" class="studentResetPass navItem">重置学生密码</a>
		</div>
		<div id="content">
			<!-- 学生信息查询修改模块 -->
			<div id="studentModifyInfCnt" class="navCntItem">
				<h3 class="hint">请选择查询条件:</h3>
				<a href="javascript:;" class="qId hint1">根据学生id查询</a>
				<a href="javascript:;" class="qClasses hint1">根据班级查询</a>
				<label class="hint hide qIdHint">请输入学生id:
					<input type="text" name="" value="" id="sId" class="hintInp">
					<a href="javascript:;" class="qIdBtn hint1">确定</a>
				</label>
				<label class="hint hide qCNameHint">请选择班级：
					<select id="cName" class='hintSel'>
					<!-- <option value=""></option> -->
					</select>
					<a href="javascript:;" class="qCNameBtn hint1">确定</a>
				</label>
				<div class="qResultHint hintBox hide">
					<h3 class="hintText"></h3>
				</div>
				<div class="qResult">
					<table class="rTable">
						<thead>
							<tr class="tableTile">
								<th>学号</th>
								<th>姓名</th>
								<th>性别</th>
								<th>出生日期</th>
								<th>家庭住址</th>
								<th>联系电话</th>
								<th>电子邮箱</th>
								<th>身份证码</th>
								<th>班级</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody class="tContent">
							<tr class="tableContentItem">
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf" class="select">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td class="handle">
									<a href="javascript:;" class="modify">修改</a>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>
							<tr class="tableContentItem">
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf" class="select">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td class="handle">
									<a href="javascript:;" class="modify">修改</a>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>
							<tr class="tableContentItem">
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf" class="select">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type=".rTable .tContent tr:hover" name="" value="dfadfasdfsdaf">
								</td>
								<td>
									<input type="text" name="" value="dfasdfsadfasfd">
								</td>
								<td class="handle">
									<a href="javascript:;" class="modify">修改</a>
									<a href="javascript:;" class="delete">删除</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<!-- 学生信息添加模块 -->
			<div id="studentAddOneCnt" class="navCntItem hide">dsfasdfadsfdsaf</div>

			<!-- 学生密码重置模块 -->
			<div id="studentResetPassCnt" class="navCntItem hide"></div>
		</div>
	</div>
</body>
</html>