<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sams-亲爱的-{$userName}-同学</title>
	<base id="baseId" href="http://sams.com/">
	<link rel="stylesheet" type="text/css" href="/static/css/common.css">
	<link rel="stylesheet" type="text/css" href="/static/css/user/student/home.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/user/student/home.js"></script>
</head>
<body onselectstart="return false;">
	<div id="container">
		<!-- 导航部分 -->
		<div id="nav" class="clear" onselectstart="return false;">
			<a href="javascript:;" class="infManage navItem select">信息管理</a>
			<a href="javascript:;" class="courseManage navItem">课程管理</a>
			<a href="javascript:;" class="scoreManage navItem">成绩管理</a>
			<a href="javascript:;" class= "logout navItem">注销</a>
		</div>
		
		<!-- 注销框 -->
		<div class="logoutbox hide">
			<h2 class="logoutboxHint">是否确定要注销？</h2>
			<a href="javascript:;" class='cancelbox'>x</a>
			<a href="javascript:;" class="confirm logoutboxItem">确定</a>
			<a href="javascript:;" class="cancel logoutboxItem">取消</a>
		</div>

		<!-- 注销信息提示框 -->
		<div class="logoutHintBox hide">
			<h2 class="logoutHintBoxHint"></h2>
		</div>

		<!-- 内容部分 -->
		<div id="content">
			<iframe src="user/student/information" class="contentPage"></iframe>
		</div>
	</div>
</body>
</html>